[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */wsgi.py
    */asgi.py
    manage.py
    config/*
    .venv/*
    venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bMeta\b:
show_missing = True
precision = 1
